.app {
  height: 100%;
  display: flex;
}

.visibility-hidden {
  visibility: hidden;
}

.day-background {
  background: rgb(177, 144, 200);
  animation: gradientAnimationDay 10s ease infinite;
}

.night-background {
  background: rgba(37, 02, 159);
  animation: gradientAnimationNight 10s ease infinite;
  color: #fff;
}

.night-background a.nowPlaying {
  color: #fff;
}

.night-background .title {
  color: #afafaf;
}

.night-background button.playButton {
  color: #afafaf;
  border-color: #afafaf;
}

.title-container {
  padding-top: 5vh;
  z-index: 1;
}

.title {
  text-transform: uppercase;
  font-size: 9vh;
  margin: 0;
  transform: rotate(-90deg);
  width: 10vh;
  display: flex;
  justify-content: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../assets/palmtree.png");
  background-size: 75vh;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  opacity: 0.6;
  @media (max-width: 768px) {
    background-position-x: calc(100% + 20vw);
    opacity: 0.4;
    background-size: 50vh;
  }
}

@keyframes planelanding
{
  from {
    background-position-x: 150%;
    background-position-y: -50%;
  }
  to {
    background-position-x: -100%;
    background-position-y: 150%;
  }
}

@keyframes planetakingoff
{
  from {
    background-position-x: -100%;
    background-position-y: 150%;
  }
  to {
    background-position-x: 150%;
    background-position-y: -50%;
  }
}
.background-plane {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  background-repeat: no-repeat;
  background-size: 10vw;
  @media (max-width: 768px) {
    background-size: 20%;
  }
}

.background-plane.landing {
  animation: planelanding 60s ease infinite;
  background-image: url("../../assets/planelanding.png");
}

.background-plane.takingoff {
  background-position-x: -100%;
  animation: planetakingoff 60s ease infinite;
  animation-delay: 17s;
  background-image: url("../../assets/planetakingoff.png");
}

.airport-stats {
  display: flex;
  justify-content: flex-end;
  padding: 12px 12px 0 0;
  z-index: 1;
}
.airport-stats span {
  font-weight: bold;
}
.airport-stats label {
  margin-right: 12px;
}

.content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (min-width: 768px) {
    padding-right: 40%;
  }
  z-index: 1;
}

.bottomContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
}

.bottomContent .volume {
  display: flex;
  padding: 12px 0;
}

.bottomContent .volume input {
  margin-left: 12px;
  @media (min-width: 768px) {
    width: 40vw;
  }
}

button.playButton {
  font-size: 10vw;
  padding: 10px;
  border: 10px solid #000;
  border-radius: 0;
  color: #000;
  &:hover {
    box-shadow: 20px 20px 0 #fcb045;
  }
}

@keyframes shadowAnimation {
  50% {
    box-shadow: 20px 20px 0px #fcb045;
  }
}

button.shadowAnimation {
  animation: shadowAnimation 5s infinite;
}

a.nowPlaying {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 3vh;
  margin-bottom: 10vh;
}

a.nowPlaying.shadowAnimation {
  animation: shadowAnimation 5s infinite;
}

a.nowPlaying:hover {
  text-decoration: underline;
}

input[type="range"] {
  appearance: none;
  background-color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  position: relative;
  height: 8px;
  background-color: #afafaf;
}

input[type="range"]::-webkit-slider-thumb {
  box-sizing: border-box;
  appearance: none;
  position: relative;
  background-color: #fcb045;
  width: 18px;
  height: 18px;
  top: 50%;
  translate: 0 -50%;
}
