.app {
  height: 100%;
  display: flex;
}

.visibility-hidden {
  visibility: hidden;
}

.day-background {
  background: rgb(177, 144, 200);
  animation: gradientAnimationDay 10s ease infinite;
}

.night-background {
  background: rgba(37, 02, 159);
  animation: gradientAnimationNight 10s ease infinite;
  color: #fff;
}

.night-background a.nowPlaying {
  color: #fff;
}

.night-background .title {
  color: #afafaf;
}

.night-background button.playButton {
  color: #afafaf;
  border-color: #afafaf;
}

.title-container {
  padding-top: 5vh;
}

.title {
  text-transform: uppercase;
  font-size: 9vh;
  margin: 0;
  transform: rotate(-90deg);
  width: 10vh;
  display: flex;
  justify-content: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bottomContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px;
}

.bottomContent .volume {
  display: flex;
  padding: 12px 0;
}

.bottomContent .volume input {
  margin-left: 12px;
  width: 50vw;
}

button.playButton {
  font-size: 10vw;
  padding: 10px;
  border: 10px solid #000;
  border-radius: 0;
  color: #000;
  &:hover {
    box-shadow: 20px 20px 0 #fcb045;
  }
}

@keyframes shadowAnimation {
  50% {
    box-shadow: 20px 20px 0px #fcb045;
  }
}

button.shadowAnimation {
  animation: shadowAnimation 5s infinite;
}

a.nowPlaying {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 3vh;
  margin-bottom: 10vh;
}

a.nowPlaying.shadowAnimation {
  animation: shadowAnimation 5s infinite;
}

a.nowPlaying:hover {
  text-decoration: underline;
}
