.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.day-background {
  background: rgb(177, 144, 200);
  animation: gradientAnimationDay 10s ease infinite;
}

.night-background {
  background: rgba(37, 02, 159);
  animation: gradientAnimationNight 10s ease infinite;
}

.night-background .title {
  color: #afafaf;
}

.night-background button.playButton {
  color: #afafaf;
  border-color: #afafaf;
}

.title {
  text-transform: uppercase;
  font-size: 10vw;
  margin: 0;
}

.content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

button.playButton {
  font-size: 10vw;
  padding: 10px;
  border: 10px solid #000;
  border-radius: 0;
  color: #000;
  &:hover {
    box-shadow: 20px 20px 0 #fcb045;
  }
}

@keyframes shadowAnimation {
  50% {
    box-shadow: 20px 20px 0px #fcb045;
  }
}

button.shadowAnimation {
  animation: shadowAnimation 5s infinite;
}
