html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body div#__next {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  height: 100%;
}

.visibility-hidden {
  visibility: hidden;
}

.day-background {
  background: rgb(177, 144, 200);
  animation: gradientAnimationDay 10s ease infinite;
}

.night-background {
  background: rgba(37, 02, 159);
  animation: gradientAnimationNight 10s ease infinite;
}

.night-background .title {
  color: #afafaf;
}

.night-background button.playButton {
  color: #afafaf;
  border-color: #afafaf;
}

.title-container {
  padding-top: 5vh;
}

.title {
  text-transform: uppercase;
  font-size: 9vh;
  margin: 0;
  transform: rotate(-90deg);
  width: 10vh;
  display: flex;
  justify-content: flex-end;
}

.content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

button.playButton {
  font-size: 10vw;
  padding: 10px;
  border: 10px solid #000;
  border-radius: 0;
  color: #000;
  &:hover {
    box-shadow: 20px 20px 0 #fcb045;
  }
}

@keyframes shadowAnimation {
  50% {
    box-shadow: 20px 20px 0px #fcb045;
  }
}

button.shadowAnimation {
  animation: shadowAnimation 5s infinite;
}

.horizontalScrollBanner {
  background-color: #212121;
  height: 50px;
  color: #fff;
}
